@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
}

/* navbar */

.nav img {
  width: 30px;
  margin: 1vh 1vw 1vh;
}

.nav {
  background-color: rgb(255, 255, 255);
  color: #0770e3;
  display: flex;
  justify-content: space-between;
  width: 80vw;
  margin: auto;
}

#Mobilenav {
  display: none;
}

.nav h1 {
  font-size: 24px;
  margin: 0;
  font-weight: 300;
}

.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0.25rem;
  font-weight: 400;
}

.nav li:hover {
  color: #0770e390;
}

#menuIcon {
  display: none;
}

/* home page form  */

#formSection {
  margin: 0;
  padding: 0;
  color: #ffffff;
  padding-bottom: 120px;
  background-image: url("./images/background.jpg");
  background-size: cover;
}

#formContainer {
  width: fit-content;
  margin: auto;
  padding-top: 25px;
}

#formSection h2 {
  font-size: 40px;
  font-weight: 300;
  margin: 0;
  text-align: center;
}

#formSection p {
  text-align: center;
  font-weight: 300;
  margin: 0 0 25px;
}

#formSection h3 {
  text-align: center;
  font-weight: 300;
  margin: 10px 0 0;
}

#formDiv {
  background-color: rgb(17, 20, 64);
  padding: 25px 75px;
  border-radius: 8px;
}

form label {
  text-align: left;
  display: inline-block;
  width: 225px;
  font-size: 20px;
  margin: 20px 0;
  font-weight: 300;
}

form input {
  width: 400px;
  height: 40px;
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 0 10px;
}

/* form .JourneydatesForm {
  width: 200px;
} */

form select {
  height: 40px;
  width: 400px;
  border-radius: 5px;
}

#buttonHolder {
  width: fit-content;
  margin: 15px auto;
}

form #buttonHolder button {
  border: none;
  border-radius: 5px;
  width: 300px;
  height: 50px;
  font-size: 20px;
  font-weight: bold;
  margin: auto;
  color: #ffffff;
  background-color: #00a698;
  font-weight: 300;
}

form #buttonHolder button:hover {
  cursor: pointer;
}

form #buttonHolder #formErrorMessage {
  height: 1em;
  color: rgb(255, 0, 0);
}

/* bannerOne */

#bannerContainer {
  background-image: url("./images/bannerOnebackground.jpg");
  background-size: cover;
  width: 80vw;
  margin: 50px auto 0;
  border-radius: 10px;
  height: 400px;
}

#bannerOne {
  color: white;
  padding: 25px 0 0 50px;
  width: 40%;
}

#bannerOne h2 {
  font-size: 40px;
}

#bannerOne p {
  font-size: 16px;
  line-height: 1.5em;
}

#bannerOne button {
  margin-top: 10px;
  font-size: 20px;
  font-weight: bold;
  background-color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 10px;
}

#bannerOne button:hover {
  cursor: pointer;
}

/* plan staycation section  */

#planStaycationContainer {
  width: 80vw;
  margin: 50px auto 10px;
}

#planStaycation h2 {
  font-size: 32px;
}

#hotelContainer {
  display: flex;
  justify-content: space-between;
}

.hotelCard {
  /* border: 1px solid #82828250 ; */
  box-shadow: 2px 2px #82828220;
  border-radius: 10px;
}

.hotelCard h3 {
  padding: 0 15px;
}

#hotelContainer img {
  width: 25vw;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.reviewDiv {
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
}

#hotelContainer .starDiv img {
  margin: 0 2px;
  position: relative;
  top: 15px;
}

#hotelContainer .star {
  width: 15px;
}

#hotelContainer .emptyStar {
  width: 14px;
}

#hotelContainer .reviewDiv p {
  font-weight: bold;
}

#hotelContainer .reviewDiv p span {
  font-weight: 100;
  color: #828282;
  font-size: 12px;
  margin-left: 5px;
}

/* advice  */

#adviceContainer {
  background-color: #52529915;
}

#advice {
  display: flex;
  justify-content: space-between;
  width: 80vw;
  margin: 50px auto;
  padding: 25px 0;
}

.adviceCard {
  width: 30%;
}

#adviceContainer img {
  height: 250px;
  width: 100%;
  margin: auto;
}

#adviceContainer h3 {
  font-size: 20px;
  text-align: center;
}

#adviceContainer p {
  font-size: 14px;
  text-align: center;
  line-height: 1.5em;
  color: #777777;
  width: 80%;
  margin: auto;
}

/* tips  */

#tips {
  width: 70vw;
  margin: auto;
}

#tips img {
  width: 100%;
  margin: 35px 0;
}

#tips #tipsTitleSection {
  text-align: center;
}

#tips h1 {
  font-size: 35px;
}

#tips #tipsTitleSection p {
  color: #777777;
}

#tips p {
  line-height: 1.5em;
}

#tips hr {
  margin: 50px 0;
}

#tips ul {
  list-style: none;
  margin: 25px 0 100px;
  padding: 0 25px;
  line-height: 2em;
}

#tips li h3 {
  font-weight: bold;
}

/* Journey list  */

#JourneyMainHolder {
  width: 80vw;
  margin: auto;
}

#JourneyMainHolder h2 {
  padding: 15px 25px 5px;
}

#JourneyMainHolder #journeyTitles {
  display: flex;
  background-color: #0770e310;
  border-radius: 10px;
  padding: 0 25px;
}

#JourneyMainHolder #noJourneyMsg {
  text-align: center;
}

#JourneyMainHolder #journeyTitles p {
  width: 20%;
}

#JourneyMainHolder #journeyTitles div {
  width: 100px;
}

/* journey details  */

#journeyInfoContainer {
  width: 80vw;
  margin: auto;
  display: flex;
  padding: 0 25px;
  align-items: center;
}

#journeyInfoContainer p {
  width: 20%;
}

#journeyInfoContainer button {
  height: 80%;
  width: 100px;
  font-size: 12px;
  background-color: #0770e350;
  border: none;
  border-radius: 5px;
}

#journeyInfoContainer .mobileScreenJourneyInfo {
  display: none;
}

/* Partnership  */

#partnership {
  width: 70vw;
  margin: auto;
}

#partnership img {
  width: 100%;
  margin: 35px 0;
}

#partnership #partnershipTitleSection {
  text-align: center;
}

#partnership h1 {
  font-size: 35px;
}

#partnership #partnershipTitleSection p {
  color: #777777;
}

#partnership p {
  line-height: 1.5em;
}

#partnershipsInfoSquaresContainer {
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
}

#partnershipsInfoSquaresContainer .partnershipsInfoSquares {
  height: 200px;
  width: 200px;
  color: #ffffff;
  text-align: center;
  border-radius: 3%;
}

#partnershipsInfoSquaresContainer #PartInfoBoxOne {
  background-color: #0770e3;
}

#partnershipsInfoSquaresContainer #PartInfoBoxTwo {
  background-color: #03035e;
}

#partnershipsInfoSquaresContainer #PartInfoBoxThree {
  background-color: #0770e3;
}

#partnershipsInfoSquaresContainer #PartInfoBoxFour {
  background-color: #8ccaf7;
}

#partnershipsInfoSquaresContainer .partnershipsInfoSquares h3 {
  font-size: 40px;
  margin: 15% 0 0;
  padding: 0;
}

#partnershipsInfoSquaresContainer .partnershipsInfoSquares p {
  font-size: 20px;
  margin: 0;
  padding: 0;
}

#partnershipPhoneManContainer {
  display: flex;
}

#partnershipPhoneManContainer img {
  width: 50%;
  border-radius: 3%;
  object-fit: contain;
}

#partnershipPhoneManContainer #partnershipPhoneManContainerInfo {
  margin-top: 20px;
  padding: 20px;
}

#partnershipPhoneManContainer #partnershipPhoneManContainerInfo h3 {
  color: #0770e3;
  font-size: 40px;
  font-weight: 300;
  margin: 0;
}

#partnershipPhoneManContainer #partnershipPhoneManContainerInfo p {
  line-height: 1.75em;
}

#joinGlobalContainer {
  margin-bottom: 100px;
}

#joinGlobalContainer h3 {
  color: #0770e3;
  font-size: 30px;
  font-weight: 300;
}

/* footer  */

#footerContainer {
  background-color: rgb(17, 20, 64);
}

#footer {
  width: fit-content;
  margin: auto;
  padding: 50px 0;
}

#footer #footerSocialMediaIconsContainer {
  width: fit-content;
  margin: auto;
}

#footer #footerSocialMediaIconsContainer img {
  width: 30px;
  margin: 0 5px;
}

#footer ul {
  display: flex;
  list-style: none;
  color: #ffffff;
  width: fit-content;
  margin: auto;
  padding: 0;
}

#footer ul li {
  margin: 5px 5px;
}

#footer ul a {
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
}

#footer p {
  color: #ffffff50;
  font-weight: 300;
  text-align: center;
  margin: 0;
}

@media (max-width: 1000px) {
  /* navbar  */
  .nav {
    width: 100%;
    margin: 0;
    margin: 0;
  }

  #menuIcon {
    display: block;
    margin-right: 10px;
  }

  /* it had hit its maximum length, needs to be turned into a burger  */
  .nav a {
    font-size: 10px;
  }

  /* i have hidden it  */
  .nav ul {
    display: none;
  }

  /* home page form  */
  /* form section  */

  #formContainer {
    width: 95%;
  }

  #formSection h2 {
    font-size: 30px;
  }

  #formDiv {
    padding: 10px;
  }

  form label {
    width: 100%;
    margin: 30px 0 10px;
  }

  form input {
    width: 100%;
  }

  form select {
    width: 100%;
  }

  #buttonHolder {
    width: 100%;
  }

  form #buttonHolder button {
    width: 100%;
  }

  /* Journey list  */

  #JourneyMainHolder {
    width: 95vw;
  }

  #JourneyInnerHolder {
    width: 95vw;
    height: fit-content;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
  }

  #JourneyInnerHolder #journeyTitles {
    display: none;
  }

  /* journey details  */

  #journeyInfoContainer {
    width: 29%;
    display: block;
    height: 300px;
    padding: 0 5px 5px;
    margin: 5px;
    background-color: #0770e310;
    border-radius: 5px;
    /* border: 1px solid black; */
    position: relative;
  }

  #journeyInfoContainer p {
    width: 100%;
    margin: 0;
    /* height: 20%; */
    /* background-color: #00a698; */
  }

  #journeyInfoContainer button {
    height: 20px;
    width: 75px;
    font-size: 12px;
    margin: 5px 5px;
    position: absolute;
    bottom: 5px;
  }

  #journeyInfoContainer .mobileScreenJourneyInfo {
    display: block;
    /* background-color: #00a698; */
    margin-top: 10px;
    font-weight: bold;
    color: #0770e3;
  }

  /* bannerOne */

  #bannerContainer {
    width: 95vw;
    background-size: cover;
    background-position: center;
  }

  #bannerOne {
    color: white;
    padding: 5px 0 0 5px;
    width: 90%;
    margin: 0 auto;
  }

  #bannerOne h2 {
    font-size: 30px;
  }

  #bannerOne p {
    font-size: 20px;
  }

  /* advice  */

  #advice {
    display: block;
    width: 80vw;
  }

  .adviceCard {
    width: 100%;
    margin-bottom: 10px;
  }

  /* plan staycation section  */

  #hotelContainer {
    display: block;
    justify-content: space-between;
  }

  #hotelContainer img {
    width: 100%;
  }

  .hotelCard {
    margin-bottom: 20px;
  }

  /* mobile nav  */

  #Mobilenav {
    display: block;
    z-index: 10;
    background-color: #68adf7;
    position: absolute;
    height: 100vh;
    width: 50vw;
  }

  #Mobilenav img {
    margin: 10px;
  }

  #Mobilenav h1 {
    margin: 0 9px;
  }

  #Mobilenav ul {
    padding: 5px;
    margin: 5px;
    list-style: none;
    display: block;
  }

  #Mobilenav a {
    font-size: 20px;
    color: #ffffff;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 10px 0;
    font-weight: 300;
  }

  .nav li:hover {
    color: #0770e390;
  }

  /* tips page */

  #tips {
    width: 95vw;
    margin: auto;
  }

  #tips hr {
    margin: 50px auto;
    width: 60vw;
  }

  /* Partnership page */

  #partnership {
    width: 95vw;
  }

  #partnershipsInfoSquaresContainer {
    display: block;
  }

  #partnershipsInfoSquaresContainer .partnershipsInfoSquares {
    width: 60%;
    margin: auto;
  }

  #partnershipsInfoSquaresContainer .partnershipsInfoSquares h3 {
    font-size: 40px;
    margin: 5% 0 0;
    padding: 15% 0 0;
  }

  #partnershipPhoneManContainer {
    display: block;
    width: 95vw;
  }

  #partnershipPhoneManContainer img {
    width: 100%;
    border-radius: 3%;
    object-fit: contain;
  }

  #joinGlobalContainer {
    padding: 20px;
  }
}
