@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
}

/* navbar */

.nav img {
  width: 30px;
  margin: 1vh 1vw 1vh;
}

.nav {
  background-color: rgb(255, 255, 255);
  color: #0770e3;
  display: flex;
  justify-content: space-between;
  width: 80vw;
  margin: auto;
}

.nav h1 {
  font-size: 24px;
  margin: 0;
}

.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0.25rem;
  font-weight: bold;
}

.nav li:hover {
  color: #0770e390;
}

/* home page form  */

#formSection {
  margin: 0;
  padding: 0;
  color: #ffffff;
  padding-bottom: 120px;
  background-image: url("./images/background.jpg");
  background-size: cover;
}

#formContainer {
  width: fit-content;
  margin: auto;
  padding-top: 25px;
}

#formSection h2 {
  font-size: 40px;
  margin: 25px;
}

#formSection p {
  text-align: center;
}

#formDiv {
  background-color: rgb(17, 20, 64);
  padding: 25px 75px;
  border-radius: 8px;
}

form label {
  text-align: left;
  display: inline-block;
  width: 225px;
  font-size: 20px;
  margin: 20px 0;
}

form input {
  width: 400px;
  height: 40px;
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 0 10px;
}

/* form .JourneydatesForm {
  width: 200px;
} */

form select {
  height: 40px;
  width: 400px;
  border-radius: 5px;
}

#buttonHolder {
  width: fit-content;
  margin: 15px auto;
}

form #buttonHolder button {
  border: none;
  border-radius: 5px;
  width: 300px;
  height: 50px;
  font-size: 20px;
  font-weight: bold;
  margin: auto;
  color: #ffffff;
  background-color: #00a698;
}

form #buttonHolder button:hover {
  cursor: pointer;
}

form #buttonHolder #formErrorMessage {
  height: 1em;
  color: rgb(255, 0, 0);
}

/* bannerOne */

#bannerContainer {
  background-image: url("./images/bannerOnebackground.jpg");
  background-size: cover;
  width: 80vw;
  margin: 50px auto 0;
  border-radius: 10px;
  height: 400px;
}

#bannerOne {
  color: white;
  padding: 25px 0 0 50px;
  width: 40%;
}

#bannerOne h2 {
  font-size: 40px;
}

#bannerOne p {
  font-size: 16px;
  line-height: 1.5rem;
}

#bannerOne button {
  margin-top: 10px;
  font-size: 20px;
  font-weight: bold;
  background-color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 10px;
}

#bannerOne button:hover {
  cursor: pointer;
}

/* plan staycation section  */

#planStaycationContainer {
  width: 80vw;
  margin: 50px auto 10px;
}

#planStaycation h2 {
  font-size: 32px;
}

#hotelContainer {
  display: flex;
  justify-content: space-between;
}

.hotelCard {
  /* border: 1px solid #82828250 ; */
  box-shadow: 2px 2px #82828220;
  border-radius: 10px;
}

.hotelCard h3 {
  padding: 0 15px;
}

#hotelContainer img {
  width: 25vw;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.reviewDiv {
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
}

#hotelContainer .starDiv img {
  margin: 0 2px;
  position: relative;
  top: 15px;
}

#hotelContainer .star {
  width: 15px;
}

#hotelContainer .emptyStar {
  width: 14px;
}

#hotelContainer .reviewDiv p {
  font-weight: bold;
}

#hotelContainer .reviewDiv p span {
  font-weight: 100;
  color: #828282;
  font-size: 12px;
  margin-left: 5px;
}

/* advice  */

#adviceContainer {
  background-color: #52529915;
}

#advice {
  display: flex;
  justify-content: space-between;
  width: 80vw;
  margin: 50px auto;
  padding: 25px 0;
}

.adviceCard {
  width: 30%;
}

#adviceContainer img {
  height: 250px;
  width: 100%;
  margin: auto;
}

#adviceContainer h3 {
  font-size: 20px;
  text-align: center;
}

#adviceContainer p {
  font-size: 14px;
  text-align: center;
  line-height: 1.5em;
  color: #777777;
  width: 80%;
  margin: auto;
}

/* tips  */

#tips {
  width: 70vw;
  margin: auto;
}

#tips img {
  width: 100%;
  margin: 35px 0;
}

#tips #tipsTitleSection {
  text-align: center;
}

#tips h1 {
  font-size: 35px;
}

#tips #tipsTitleSection p {
  color: #777777;
}

#tips p {
  line-height: 1.5em;
}

#tips hr {
  margin: 50px 0;
}

#tips ul {
  list-style: none;
  margin: 25px 0 100px;
  padding: 0 25px;
  line-height: 2em;
}

#tips li h3 {
  font-weight: bold;
}

/* Journey list  */

#JourneyMainHolder {
  width: 80vw;
  margin: auto;
}

#JourneyMainHolder h2 {
  padding: 15px 25px 5px;
}

#JourneyMainHolder #journeyTitles {
  display: flex;
  background-color: #82828220;
  border-radius: 10px;
  padding: 0 25px;
}

#JourneyMainHolder #noJourneyMsg {
  text-align: center;
}

#JourneyMainHolder #journeyTitles p {
  width: 20%;
}

#JourneyMainHolder #journeyTitles div {
  width: 100px;
}

/* journey details  */

#journeyInfoContainer {
  width: 80vw;
  margin: auto;
  display: flex;
  padding: 0 25px;
  align-items: center;
}

#journeyInfoContainer p {
  width: 20%;
}

#journeyInfoContainer button {
  height: 80%;
  width: 100px;
  font-size: 12px;
  background-color: #0770e350;
  border: none;
  border-radius: 5px;
}

/* footer  */

#footerContainer {
  background-color: rgb(17, 20, 64);
  margin-bottom: 50px;
}

#footer {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: auto;
  padding: 75px 0;
}

#footer h4 {
  color: rgb(241, 100, 6);
  font-size: 24px;
  margin: 0 0 25px;
}

#footer a {
  color: #ffffff;
  text-decoration: none;
  display: block;
  line-height: 2em;
}

@media (max-width: 1000px) {
  /* form section  */

  #formContainer {
    width: 90vw;
  }

  form label {
    width: 100%;
  }

  form label {
    margin: 30px 0 10px;
  }

  form label span {
    margin-right: 5px;
  }

  form input {
    width: 100%;
  }

  form textarea {
    width: 100%;
    margin-top: 0;
  }

  form #messageLabel {
    top: 0px;
  }

  #buttonHolder {
    margin: 50px auto 0;
  }
}
